{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block description %}
    <meta name="description" content="Connectez-vous et démarrez votre voyage olfactif">
{% endblock %}

{% block body %}
    <div class="container-fluid vh-100">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-info mb-3">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <h1 class="h1 mb-3 font-weight-normal">Connexion</h1>
                    <label for="email">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-check mb-3">
                        <input type="checkbox" name="_remember_me" id="remember_me" class="form-check-input" checked>
                        <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                    </div>
                    <div class="mb-3">
                        <a href="{{ path('reset_password') }}">Mot de passe oublié?</a>
                    </div>

                    <button class="btn btn-lg btn-turquois mb-3" type="submit">Connexion</button>
                       <div class="mb-3">
                       Vous avez pas de compte? <a href="{{ path('sign_up') }}">Créer un compte</a>
                    </div>
                </form>
            </div>
        </div>
    </div>




{% endblock %}
