{% extends 'backoffice.html.twig' %}

{% block title %}
    Gestion des parfums
{% endblock %}

{% block body %}

<div class="container-fluid p-5">
    <h1>Gestion Parfums</h1>
    <a href="{{ path('admin_perfume_new')}}" class="btn btn-turquois mb-3">Ajouter un parfum</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Volume (ml)</th>
                    <th scope="col">Qté en stock</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Notes parfum</th>
                    <th scope="col">Famille olfactive</th>
                    <th scope="col" class="col-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if perfumes is not empty %}
                    {% for perfume in perfumes %}
                        <tr>
                            <th scope="row">{{ perfume.id }}</th>
                            <td>{{ perfume.perfumeTitle }}</td>
                            <td>{{ perfume.description }}</td>
                            <td>{{ perfume.price }}€</td>
                            <td>{{ perfume.gender }}</td>
                            <td>{{ perfume.Volume }} ml</td>
                            <td>{{ perfume.quantity }}</td>
                            <td>{{ perfume.brand }}</td>
                            <td>
                                {% for note in perfume.noteId %}
                                    {{ note.noteName }}
                                {% endfor %}
                            </td>
                            <td>{{ perfume.olfactiveFamilyId.familyName }}</td>
                            <td>
                                <a href="{{ url("admin_perfume_update", {'id' : perfume.id}) }}" class="btn btn-turquois">Modifier</a>
                                <a href="{{ url('admin_perfume_delete', {'id' : perfume.id}) }}" class="btn btn-bronze">Supprimer</a>
                                <a href="{{ url('perfume_detail', {'id' : perfume.id}) }}" class="btn btn-cream">Détail</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="11">Aucun parfum trouvé</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
