{# {% extends 'backoffice.html.twig' %}
{% block title %}
{% block body %}

    <a class="btn btn-success btn-block m-4" href="{{ path('media_create', {'id': perfume.id }) }}">Ajouter des médias</a>

 {% if perfume.mediasId | length > 0 %}
 
    <form action="{{ path('perfume_delete_medias') }}" method="post" class="row justify-content-around border border-dark border-2 mt-5 p-3">
        {% for media in perfume.mediasId %}
            <div class="col-md-4 my-2">
                <div class="row">
                    <img src="{{ asset('upload/' ~ media.src) }}" width="200" alt="">
                    <div class="form-check">
                        <input value="{{ media.id }}" id="medias" type="checkbox" name="medias[]" multiple class="form-check-input">
                        <label for="medias" class="form-check-label">{{ media.id }}</label>

                    </div>
                </div>
            </div>
        {% endfor %}

        <button class="btn btn-block btn-info mt-5" type="submit">Supprimer les médias</button>

    </form>
    {% else %}
        <p>Aucun medias pour ce produit</p>
{% endif %}




{% endblock %}



{% endblock %}
 #}

{% extends 'backoffice.html.twig' %}

{% block titre %}
    {{ title }}
{% endblock %}

{% block body %}




    <a href="{{ path('media_create', {'id': perfume.id}) }}" class="btn btn-secondary btn-lg">Ajouter des médias</a>



    <form method="post" class="mt-5" action="{{ path('perfume_delete_medias', {'id': perfume.id}) }}">


        <div class="row">
        {% for media in perfume.mediasId %}

            <div  class="col-4 my-2">
                <div class="row">
                    <img class="col-12" src="{{ asset('upload/') }}{{ media.src }}" width="200" alt="">
                    <div  class="form-check">
                        <input class="form-check-input" name="choice[]" multiple type="checkbox" value="{{ media.id }}" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            {{ media.id }}
                        </label>
                    </div>
                </div>
            </div>


        {% endfor %}
        </div>
        <button type="submit" class=" mt-5 btn-block btn btn-info">Supprimer les médias</button>
    </form>

{% endblock %}