{% extends 'backoffice.html.twig' %}

{% block title %}
    Gestion des Familles Olfactives
{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Gestion des Familles Olfactives</h1>
    <a href="{{ path('admin_familyOlf_new')}}" class="btn btn-turquois w-25 mr-3">Ajouter une Famille olfactive</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Notes</th>
                <th scope="col" class="col-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if families | length > 0 %}
            {% for family in families %}
            <tr>
                <td>{{family.id}}</td>
                <td>{{family.familyName}}</td>
                <td>{{family.familyDescription}}</td>
                <td>
                    {% for note in family.notes %}
                    {{note.noteName}}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ url("admin_familyOlf_update", {'id' : family.id}) }}" class="btn btn-turquois">Modifier</a>
                    <a href="{{ url("admin_familyOlf_delete", {'id' : family.id}) }}" class="btn btn-bronze">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">Aucune famille olfactive trouvée</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
