{% extends 'backoffice.html.twig' %}

{% block title %} Gestion articles 
{% endblock %}

{% block body %}

	<div class="container-fluid p-5">
		<h1>Gestion des articles du blog</h1>

		<a href="{{ path('admin_article_new')}}" class="btn btn-turquois w-25 mr-3">Ajouter un article</a>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nom</th>
					<th scope="col">Contenu</th>

				</tr>
			</thead>
			<tbody>
				{% if articles | length > 0 %}
					{% for article in articles %}
						<tr>
							<th scope="row"><p>{{article.id}}</th>
							<td>
								{{article.articleTitle}}
							</td>
							<td><p class="card-text">{{ article.ArticleContent|striptags|slice(0, 150) ~ '...' }}</p>
							
							</td>

							<td>
								<a href="{{ url("admin_article_update", {'id' : article.id}) }}" class="btn btn-turquois">Modifier</a>
							</td>
							<td>
								<a href=" {{ url('admin_article_delete', {'id' : article.id}) }}" class="btn btn-bronze ">Supprimer</a>
							</td>
							<td>
								<a href=" {{ url('admin_detail_article', {'id' : article.id}) }}" class="btn btn-cream ">Detail</a>
							</td>
						{% endfor %}
					{% endif %}

				</div>

			</tbody>
		{% endblock %}
