<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome to Perfumes' backoffice
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Lien CDN pour Bootstrap -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer">
			<!-- Lien vers vos styles CSS personnalisés -->
			<link rel="stylesheet" href="{{asset('styles/style.css')}}">
			{# font google #}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		{% endblock %}
		{% block javascripts %}
			{# fontawesome #}
			<script defer src="https://kit.fontawesome.com/da3ac613e4.js" crossorigin="anonymous"></script>

			<!-- Script JS pour Bootstrap -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-eRz0ACd2RlggdCGiI6g/sBvJfTakO7z+RgC5SwiMH8PvzxPAIKW8YLAtX9gI72tV" crossorigin="anonymous" defer></script>
			<!-- CKEditor5 -->
			<script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/balloon/ckeditor.js" defer></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"> {% block navbar_brand %}{% endblock %}
					</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav me-auto">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_perfume')}}">Gestion Parfums</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_olfactive_family')}}">Gestion Familles olfactives</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_notes')}}">Notes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_blog')}}">Articles</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('admin_user_show')}}">Gestion Utilisateur</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Moderation d'avis</a>
								</li>
							</ul>


							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_home') }}">Retour au site</a>
								</li>
							</ul>
						</nav>


						{# 
						<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						    <div class="container">
						        <!-- Brand -->
						        <a class="navbar-brand" href="#">Backoffice</a>
						        <!-- Toggler -->
						        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						            <span class="navbar-toggler-icon"></span>
						        </button>
						        <!-- Navbar links -->
						        <div class="collapse navbar-collapse" id="navbarNav">
						            <ul class="navbar-nav">
						                <li class="nav-item">
						                    <a class="nav-link" href="{{ path('admin_perfume')}}">Gestion Parfums</a>
						                </li>
						                <li class="nav-item">
						                    <a class="nav-link" href="{{ path('admin_olfactive_family')}}">Gestion Familles olfactives</a>
						                </li>
						                <li class="nav-item">
						                    <a class="nav-link" href="{{ path('admin_notes')}}">Notes</a>
						                </li>
						                <li class="nav-item">
						                    <a class="nav-link" href="{{ path('admin_blog')}}">Articles</a>
						                </li>
						                <li class="nav-item">
						                    <a class="nav-link" href="{{path('admin_user_show')}}">Gestion Utilisateur</a>
						                </li>
						                <li class="nav-item">
						                    <a class="nav-link" href="#">Moderation d'avis</a>
						                </li>
						            </ul>
						        </div>
						    </div>
						    <div class="container">
						        <ul class="navbar-nav">
						            <li class="nav-item">
						                <a class="nav-link" href="{{ path('app_home')}}">Retour au site</a>
						            </li>
						        </ul>
						    </div>
						</nav> #}
						<!-- End Navbar -->

						<!-- Flash messages -->
							<div class="container mt-4"> <div class="w-50 mx-auto">
								{% for label, msgs in app.flashes %}
									{% for msg in msgs %}
										<div class="alert alert-{{ label }} text-center" role="alert">
											{{ msg }}
										</div>
									{% endfor %}
								{% endfor %}
							</div>
						</div>

						<!-- Body content -->

						{% block body %}{% endblock %}


					</body>
				</html>
