{% extends 'base.html.twig'  %}

{% block body %}
	<!-- Product section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6"><img src="{{ asset('upload/' ~ perfume.mediasId[0].src) }}" class="card-img-top mb-5 mb-md-0" b alt="Image du parfum : {{ perfume.perfumeTitle }}"/></div>
				<div class="col-md-6">
					<div class="small mb-1">Ref:
						{{perfume.id}}</div>
					<h1 class="display-5 fw-bolder">{{ perfume.perfumeTitle }}</h1>
					<div class="fs-5 mb-5">
						<p>
							<b>Prix:</b>
							{{ perfume.price }}€</p>
						<p>
							<b>Volume:</b>
							{{ perfume.volume}}ml</p>
						<p>
							<b>Famille olfactive:</b>
							{{perfume.olfactiveFamilyId.familyName}}</p>
						<p>
							<b>Marque:</b>
							{{perfume.brand}}</p>
					</div>
					<div>
						<p class="lead">{{ perfume.description }}</p>
						<b>Notes:</b>
						{# {% for note in perfume.noteId %}
							{{note.noteName}}
							{% if note.media is not null %}
								<img src="{{ asset('upload/' ~ note.media.src) }}" class="img-thumbnail mt-1" width="100" alt="">
							{% endif %} #}

{# carroussel #}
							<div class="container text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for note in perfume.noteId %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    {% if note.media is not null %}
                                        <img src="{{ asset('upload/' ~ note.media.src) }}" class="img-fluid">
                                    {% else %}
                                        <img src="https://via.placeholder.com/700x500.png" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="card-img-overlay">{{ note.noteName }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>     
</div>

					</div>


					{# {% endfor %} #}
					<div class="d-flex">
						<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem"/>
						<a class="btn btn-primary" href="{{path('add_to_cart',{'id': perfume.id})}}">
							<i class="bi-cart-fill me-1"></i>
							Ajouter au panier
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Related items section-->
	<section class="py-5 bg-light">
		<div class="container px-4 px-lg-5 mt-5">
			<h2 class="fw-bolder mb-4">Produits similaires</h2>
			<div
				class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"><!-- You can populate related products here -->
			</div>
		</div>
	</section>
{% endblock %}
