{% extends 'base.html.twig' %}

{% block title %}Detail Parfum : {{perfume.perfumeTitle}}{% endblock %}

{% block body %}
    <!-- Product section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!-- Product image column -->
                <div class="col-md-6">
                    <div class="ratio ratio-1x1 mb-5 mb-md-0">
                        <img src="{{ asset('upload/' ~ perfume.mediasId[0].src) }}" class="card-img-top w-100 h-100 object-cover" alt="Image du parfum : {{ perfume.perfumeTitle }}">
                    </div>
                </div>
                <!-- Product details column -->
                <div class="col-md-6">
                    <div class="small mb-1">Ref: {{ perfume.id }}</div>
                    <h1 class="display-5 fw-bolder">{{ perfume.perfumeTitle }}</h1>
                    <div class="fs-5 mb-5">
                        <p><b>Prix:</b> {{ perfume.price }}€</p>
                        <p><b>Volume:</b> {{ perfume.volume }}ml</p>
                        <p><b>Famille olfactive:</b> {{ perfume.olfactiveFamilyId.familyName }}</p>
                        <p><b>Marque:</b> {{ perfume.brand }}</p>
                    </div>
                    <div>
                        <p class="lead">{{ perfume.description }}</p>
                    </div>
                    <div class="d-flex mt-3">
                        <a class="btn btn-turquois" href="{{ path('add_to_cart', {'id': perfume.id}) }}">
                            <i class="bi-cart-fill me-1"></i>
                            Ajouter au panier
                        </a>
                    </div>
                </div>
            </div>
            <!-- Product notes carousel -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <h2 class="fw-bolder mb-4">Notes:</h2>
                    <div id="noteCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for note in perfume.noteId %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <div class="card">
                                        <img src="{{ asset('upload/' ~ note.media.src) }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="{{ note.noteName }}">
                                        <div class="card-body">
                                            <p class="card-text">{{ note.noteName }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#noteCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#noteCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Related items section -->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Produits similaires</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!--Produits similaires -->
            </div>
        </div>
    </section>
{% endblock %}
