{% extends 'base.html.twig'  %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ asset('upload/'~perfume.mediasId[0].src) }}" alt="Image du parfum :{{perfume.perfumeTitle}} " class="img-fluid">
			</div>
			<div class="col-md-6">
				<h1>{{perfume.perfumeTitle}}</h1>
                <p>Eau de Parfum</p>
                <p>{{perfume.olfactiveFamilyId.familyName}}</p>
                <p>{{perfume.brand}}</p>
                <p>{{perfume.gender}}</p>
                <p></p>
                <p></p>
				<h2></h2>
				<h2></h2>
				<h3></h3>
				<h3>{{perfume.volume}} ml</h3>
				<h3>{{perfume.price}}€</h3>
				<p>
					{{perfume.description}}
				</p>
				{% for note in perfume.noteId %}
					{{note.noteName}}
				{% endfor %}
				{# <ul class="list-unstyled">
								            <li>Notes de tête : Bergamote, citron</li>
								            <li>Notes de cœur : Jasmin, rose, ylang-ylang</li>
								            <li>Notes de fond : Vanille, santal, musc</li>
								          </ul> #}
				<p>
					<button type="button" class="btn btn-primary">Ajouter au panier</button>
				</p>
			</div>
		</div>
	</div>


{% endblock %}
